body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #555;
  background-color: white;
}
h1 {
  font-size: 1.5em; 
  margin: 0 0 1em 0;
}
h3 {
	text-align: right;
  white-space: nowrap;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0 0 1em 0;
}
p {
  margin: 0 0 1em 0;
}
.box {
  float: right;
  margin: 0;
  padding: 8px;
  width: 186px; /* 216 - 14 - 14 - 1 - 1 */
  color: #555;
  background-color: #eee;
}
.fullpage {
  margin: 0;
  padding: 14px;
  color: #333;
  background-color: white;
}
.wide1 {
 width: 400px;
}
.wide2 {
  width: 900px;
  margin: 2em auto;
  background-color: white;
  color: black;
}
.rightLinks {
  font-size: 0.8em;
  float: right;
  text-align: right;
  margin: 0 0 1em 1em;
}
.ticketVals {
	margin: 0;
	white-space: nowrap;
}
#agenda tr.waitList td {
 font-style: italic;
}
#agenda tr.waitList td.type {
  background-color: #fee;
}
#agenda tr.adminWaitList td {
  font-style: italic;
}
.eventDateTime {
  margin: -1em 0 1em 0;
}
#regInfo p {
	white-space: nowrap;
}
table {
  width: 100%; 
  font-size: 0.9em; 
  margin: 0 0 1em 0;
}
th {
  text-align: left;
}
td {
  vertical-align: top;
  padding: 8px;
}
td.controls,
td.regControls {
  white-space: nowrap;
}
form,
p.superuserForm {
  clear: both;
}
form .focus {
  background: #ffc;
}
form .hover {
  background: #ffc;
}
input {
	font-size: 1em;
}
form#signin input {
  width: 100px;
}
form#signin input.submit {
  width: auto;
}
.commonForm {
	float: right;
}
	
#message {
  font-size: 0.8em;
  color: black;
  background-color: #ff3;
  padding: 4px;
  margin: 0 0 0.5em 0;
}
#userReg {
  width: 400px;
  margin: 2em auto;
  padding: 2em;
  color: black;
  background-color: #ababab;
}
#userReg input {
  width: 260px;
}
#userReg #rpi {
  width: 20px;
}
#userReg #submit {
  width: 120px;
}
#rpiTable td {
  white-space: normal;
  padding-right: 1em;
}
ul.errors {
  width: 260px;
  color: black;
  background-color: #fdd;
  padding: 2px;
  margin: 0;
}
ul.errors li {
  width: 260px;
  white-space: normal;
  list-style: none;
  margin: 0;
  padding: 2px;
}
#userInfo {
  margin: 1em 0;
}
#empacInfo {
  margin: 4em 0 0 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #ccc;
  font-size: 0.9em;
}
#empacInfo h3 {
  margin: 0 0 1em 0;
}
.ticketInfo {
}
#deadlinePassed,
#registrationFull {
  font-size: 0.9em;
}
.msgUpdated {
  text-align: right;
  font-size: 0.8em;
  margin-top: 1em;
}
.tentative { 
	color: red; 
}
.explanation { 
	font-style: italic; 
	margin-top: 0.5em; 
	font-size: 0.9em; 
}
.checkmark { 
	font-size: 2em;
  font-family: "Doulos SIL","Quivira","Arial Unicode MS";
	display: block;
  float: left;
  margin: 0 0.25em 0 0;
}
.registered { 
	clear: both; 
	color: green; 
	margin-bottom: 0;
}
.waiting { 
	clear: both; 
	color: #b00; 
	margin-bottom: 0;
}
.unregister { 
	text-align: right; 
	font-size: 0.8em; 
}
.details {
	clear: both;
  font-size: 0.8em;
  margin: 1em 0 1em 2.25em;
}
.left {
	float: left;
	margin: 0 2em 2em 0;
}
.indent {
  margin-left: 2em;
}
.strong {
  font-weight: bold;
}
a {
  color: #555;
}